.experience {
  padding-top: 3rem;
  text-align: center;
  .content {
    line-height: 2rem;
    h3 {
      color: $primary;
    }
    h2 {
      color: $dark-grey;
    }

    #work {
      width: 100%;
      text-align: left;
      margin: 2rem 1rem;
    }
    #courses {
      width: 100%;
      text-align: left;
      margin: 2rem 1rem;
    }

    @include desktop() {
      display: flex;

      #work {
        width: 50%;
        text-align: left;
        margin: 2rem 1rem;
      }
      #courses {
        width: 50%;
      }
    }
  }
}
