.footer {
  @include background($primary);
  color: $light-grey;
  text-align: center;

  padding: 1rem;
  .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .item {
      margin: 1rem;
    }
  }
}
